html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: auto;

	background-color: #232526;
	color: #fff;
	font-family: Helvetica;
}

/*HEADER*/

/*make header into a grid*/
header{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 90vh 5vh 5vh;
}

/*place header in center of screen in grid cell*/
#logo{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;

	align-self: center;
	justify-self: center;

	object-fit: cover;
	max-height: 50%;
	max-width: 50%;
}

header p{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;

	align-self: baseline;
	justify-self: center;

	font-weight: bold;
}

#arrow{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;

	align-self: center;
	justify-self: center;

	height: 1vw;
	width: 3vw;

	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

/*Animate the arrow to float*/
@keyframes floating{
	0%{
		margin-top: 0;
	}
	50%{
		margin-top: -1vw;
	}
}




/*INDEX*/

/*Container will be a grid*/
#projects-container{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 10vh 50vh 75vh 75vh 75vh 75vh;
}

/*Make navigation buttons stick to top of screen when scrolled to*/
#navigation-buttons{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
	z-index: 2;

	position: sticky;
	top: 0;
	background-color: #232526;
}

.button{
	background-color: transparent;
	border: none;
	color: #aec6cf;
	font-size: 25px;
	cursor: pointer;
}

#skills{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#skills-grid{
	display: grid;
	grid-template-areas: 'a a a a';
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	padding: 10px;
	width: 80%;
	height: 40vh;
	overflow-x: auto;
	border: 1px #fff solid;
	border-radius: 5px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

#skills-grid h1{
	min-width: 5vw;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	margin: 0;
	font-size: 20px;
	color: #000;

	/*center word vertically*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#skills-grid h1:nth-child(5n+0){
	background-color: #C7CEEA;
}

#skills-grid h1:nth-child(5n+1){
	background-color: #FF9AA2;
}

#skills-grid h1:nth-child(5n+2){
	background-color: #B5EAE7;
}

#skills-grid h1:nth-child(5n+3){
	background-color: #FFDAC1;
}

#skills-grid h1:nth-child(5n+4){
	background-color: #E2F0CB;
}

.section-title{
	margin-left: 1vw;
}

.section-grid{
	display: grid;
	grid-template-areas: 'a a a';
	grid-row-gap: 10px;
	grid-column-gap: 10px;

	padding: 10px;
	width: 80%;
	height: 50vh;
	overflow-x: auto;
	border: 1px #fff solid;
	border-radius: 5px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.project{
	height: 15vw;
	width: 25vw;
	position: relative;
}

.project-img{
	height: 15vw;
	width: 25vw;
	background-color: #fff;
	border-radius: 5px;
	top: 0;

	transition: 0.5s ease;
}

.project-title{
	position: absolute;
	top: -2.8vh;
	height: 15vw;
	width: 25vw;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	text-align: center;
	opacity: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	transition: 0.5s ease;
}

.project-title:hover{
	opacity: 1;
	cursor: pointer;
}

#data-mining{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#web-development{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

#game-development{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
}

#mobile-development{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
}

/*INDEX - Altering dimensions for different screen sizes*/
/*For small screens like phones, etc.*/
@media screen and (max-width: 600px){
	#navigation-buttons{
		display: grid;
		grid-template-areas: 'a a';
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	
	.button{
		font-size: 4vw;
	}

	#skills-grid{
		grid-template-areas: 'a a';
		width: 90%;
	}
}

@media screen and (min-width: 550px) and (max-width: 750px){
	.button{
		font-size: 2vw;
	}

	#skills-grid{
		grid-template-areas: 'a a';
		width: 90%;
	}
}



























